# Virtual environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# OS system files
.DS_Store
Thumbs.db

# Logs
*.log

# Uploads (jika hanya untuk testing di lokal)
uploads/

# IDE / Editor configs
.vscode/
.idea/
